<div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">Add Questions</div> 
                            <ul class="panel-tool-options"> 
                               <!--  <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                       
                        <div class="panel-body"> 
<%#= form_with(model: enquiry, local: true) do |form| %>
  

 <div class="form-horizontal">
  <%= nested_form_for @question do |f| %>
  
   <div class="form-group">
        <div class="col-md-6">
   <label class="col-sm-6 control-label">Question</label>
 
    <%= f.text_area :question, class: 'form-control' %>
  </div>
  </div>

   <%= f.fields_for :answers do |answer_form| %>
   <div class="form-group">
        <div class="col-md-4">
    <%= answer_form.text_field :answer , class: 'form-control' %> 
    </div>|     <%= answer_form.link_to_remove "- REMOVE" ,class: 'btn btn-danger' %>




</div><% end %>
<div class="form-group">
<%= f.link_to_add "+ ADD", :answers  , class: 'btn btn-info' %>
</div>

    
  




  
  <div class="form-group"> 
                                <div class="col-sm-offset-1 col-sm-10">  
     <%= f.submit "Submit", class: 'btn btn-success' %>
     <%= link_to 'Back', questions_path, class: 'btn btn-red' %>
     
  </div>
  </div>


  <%#= link_to 'Back' , questions_path , class: :"btn btn-primary" %>

     



  
   <br><br><br><br><br><br>   <br><br><br>




                        
 
<% end %>
</div>
</div>
