  <%= render 'layouts/messages'%>

  <div class="box-content">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          

          <%= form_for :question,url: {action: 'save_test' , controller: 'student_details' , student_detail_id: @student_detail.id } do |f| %> 
          <table cellpadding="5" cellspacing="5">
            <% @questions.each_with_index do |q,j| %>
            <tr><th><%j=j+1%><%= j%>: <%= q.question %></th></tr>
            <% @answers = Answer.where(question_id: q.id) %>
            <%  @answers.each_with_index do |ans,i| %>
            <tr>
              <td>
                <%#= f.hidden_field :ans %>
                <%= f.radio_button  q.id , ans.id %>
                <%i=i+1%>
                <%= i%> : <%= ans.answer %>
              </td>
             
               
               

            </tr>
             <%end%>
            <td><%172.times do |n|%>-<%end%></td>

            
            <% end %>

           
          </table>
          <%= f.submit "submit",class: "btn btn-primary"%>
          <%end%>
          
        </div>
      </div>
    </div>
  </div>
</div>





<%#= link_to 'Back' , questions_path , class: :"btn btn-warning" %>






