<%= render 'layouts/messages'%>
<div class="col-md-12"> 
 <br>
                 <br>
          <div class="panel panel-info">
            <div class="panel-heading clearfix"> 
              <div class="panel-title">Center Detail</div> 
              <ul class="panel-tool-options"> 
               <!--  <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                    <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                    <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                  </ul>
                 </li> -->
                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
<!--                 <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
 -->                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
              </ul>  
            </div> 
            <!-- panel body --> 
            <div class="panel-body"> 
               <div class="panel-body collapse in" id="collapsepanel">
                                  <ol class="breadcrumb breadcrumb-2"> 
                                    <li><a href="/home/dashboard"><i class="icon-folder"></i>Home</a></li> 
                                    <li class="active">Course Type</li> 
                                  </ol> 
                                </div>
<p id="notice"><%= notice %></p>

<div class="col-md-4">
<p class="text-info">
  <strong>Course type name:</strong>
  <%= @course_type.course_type_name %>
</p>
</div>

<%= link_to 'Edit', edit_course_type_path(@course_type), class: 'btn btn-red btn-outline'  %> |
<%= link_to 'Back', course_types_path, class: 'btn btn-blue btn-outline'  %>
