<br><br><br><br>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Student Admission</h3>
        <ul class="panel-tool-options"> 
          <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
          <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
          <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
        </ul>
      </div>
      <div class="panel-body">
          <div class="panel-body collapse in" id="collapsepanel">
              <ol class="breadcrumb breadcrumb-2"> 
                <li><a href="/home/dashboard"><i class="icon-folder"></i>Home</a></li> 
                <li class="active">Student Admission Form</li> 
              </ol> 
         </div>

        <div id="rootwizard-2" class="form-wizard validate-form-wizard validate">
          <div class="wizard-navbar">
            <ul>
              <li class="active"><a href="#tab2-1" data-toggle="tab"><span>1</span> Personal Information</a></li>
              <li><a href="#tab2-2" data-toggle="tab"><span>2</span> Parent/Guardian Information  </a></li>
              <li><a href="#tab2-3" data-toggle="tab"><span>3</span> Address</a></li>
              <li><a href="#tab2-4" data-toggle="tab"><span>4</span> Educational Details</a></li>
              <li><a href="#tab2-5" data-toggle="tab"><span>5</span> University </a></li>

            </ul>
          </div>


          <div class="tab-content">
            <div class="tab-pane  active" id="tab2-1">
              <div class="row"> 

                <%= form_for @student, url: {action: 'create', controller: 'students'},  html: { multipart: true } do |form| %>
                <% if @student.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@student.errors.count, "error") %> prohibited this @student from being saved:</h2>

                  <ul>
                    <% @student.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
                <% end %>

                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="username" class="control-label">First Name<font color="red">*</font></label>
                    <%= form.text_field :first_name, id: :student_first_name, placeholder: 'First Name', class: 'form-control'%>
                  </div>
                </div> 

                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="password" class="control-label">Middle Name</label> 
                    <%= form.text_field :middle_name, id: :student_middle_name, placeholder: 'Middle Name', class: 'form-control' %>
                  </div> 
                </div> 


                <div class="row">
                  <div class="col-md-4"> 
                    <div class="form-group"> 
                      <label for="confirmpassword" class="control-label">Last Name</label>
                      <%= form.text_field :last_name, id: :student_last_name, placeholder: 'Last Name' , class: 'form-control'%>
                    </div>
                  </div>
                </div>
                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Contact<font color="red">*</font></label>
                    <%= form.text_field :contact_no, id: :student_contact_no, placeholder: 'Contact', class: 'form-control',maxLength: "10" %>
                  </div>
                </div>


                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Alternate Contact</label>
                    <%= form.text_field :alternate_contact_no, id: :student_alternate_contact_no, placeholder: 'Contact', class: 'form-control',maxLength: "10" %>
                  </div>
                </div>


                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Date of Birth</label>
                    <%= form.date_field :date_of_birth, id: :student_date_of_birth,placeholder: 'Contact', class: 'form-control' %>
                  </div>
                </div>

                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Select Category<font color="red">*</font></label>
                    <%= form.select :caste_category_id,CasteCategory.all.collect{|a| [a.name, a.id]}, {prompt:true},id: 'student_caste_category_id',class: "form-control selectpicker", "data-live-search" => "true"  %>
                  </div>
                </div>

                

                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="username" class="control-label">Upload Photo</label>

                    <%= form.file_field :photo, placeholder: "Upload Photo", class: "form-control"%>
                  </div> 
                </div>


                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="username" class="control-label">Enrollment Number</label>
                    <%= form.text_field :enrollment, id: :student_enrollment, :value=> @student.enrollment , readonly: true, class: "form-control"%>
                  </div>
                </div> 

                <div class="col-md-4"> 
                  <div class="form-group"> Blood Group</label>
                   <%= form.select :blood_group,options_for_select(["A+", "O+", "B+", "AB+", "A-","O-","B-","AB-"]),{prompt:true}, class: "form-control"%>
                 </div>
               </div> 

               <div class="col-md-4"> 
                <div class="form-group"> 
                  <label for="username" class="control-label">Email<font color="red">*</font></label>
                  <%= form.text_field :email, id: :email, :value=> @student.email , class: "form-control"%>
                </div>
              </div> 

                  <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Contact Person Name</label>
                    <%= form.text_field :reference_student,placeholder: 'Contact Person Name', id: :reference_student, class: 'form-control' %>
                  </div>
                </div>

                  <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Where did you find Us<font color="red">*</font></label>
                    <%= form.select :refarence_id,Refarence.all.collect{|a| [a.name, a.id]}, {prompt:true},id: 'student_refarence_id',class: "form-control selectpicker", "data-live-search" => "true"  %>
                  </div>
                </div>


                   <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Gender</label>
                    <%= form.radio_button  "gender","Male", :checked => "checked" %>&nbsp;&nbsp;<b>Male</b>&nbsp;&nbsp;
                    &nbsp;
                    <%= form.radio_button  "gender","Female"%>&nbsp;&nbsp;<b>Female</b>
                  </div>
                </div>


                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="email" class="control-label">Passport Details</label><br>
                    <%= form.radio_button  "passport_available","Passport Available", :checked => "checked" %>&nbsp;&nbsp;<b>Passport Available</b>&nbsp;&nbsp;
                    &nbsp;
                    <%= form.radio_button  "passport_available","Passport Applied"%>&nbsp;&nbsp;<b>Passport Applied</b><br>
                    <%= form.radio_button  "passport_available","Passport Not Applied"%>&nbsp;&nbsp;<b>Passport Not Applied</b>
                  </div>
                </div>

            </div>
          </div>



          <div class="tab-pane" id="tab2-2">
           <div class="row"> 
             <div class="col-md-4"> 
               <div class="form-group"> 
                <label for="name" class="control-label">Father Name</label>
                <%= form.text_field :father_name, id: :student_father_name,placeholder: 'Father Name', class: 'form-control' %>       
              </div>
            </div> 

             <div class="col-md-4"> 
              <div class="form-group"> 
                <label for="email" class="control-label">Father Contact</label>
                <%= form.text_field :father_contact_no, id: :student_father_contact_no, placeholder: 'Father Contact',class: 'form-control',maxLength: "10" %>
              </div>
            </div>   


            <div class="col-md-4"> 
              <div class="form-group"> 
                <label for="emailfield" class="control-label">Mother Name</label> 
                <%= form.text_field :mother_name, id: :student_mother_name, placeholder: 'Mother Name', class: 'form-control' %>
              </div> 
            </div> 



            <div class="col-md-4"> 
              <div class="form-group"> 
                <label for="email" class="control-label">Mother Contact</label>
                <%= form.text_field :mother_contact_no, id: :student_mother_contact_no, placeholder: 'Mother Contact' ,class: 'form-control',maxLength: "10"%>
              </div>
            </div>

            <div class="col-md-4"> 
              <div class="form-group"> 
                <label for="email" class="control-label">Alternate Guardian Contact</label>
                <%= form.text_field :alternate_contact, id: :student_alternate_contact, placeholder: 'Alternate Contact',class: 'form-control', maxLength: "10" %>
              </div>
            </div>  
            
          </div>
        </div>



        <div class="tab-pane" id="tab2-3">
          <div class="row"> 
            <div class="col-md-4"> 
              <div class="form-group"> 
                <label for="cardholdername" class="control-label">Permanent Address<font color="red">*</font></label>
                <%= form.text_field :permanent_address, id: :address_1, placeholder: 'Permanent Address', class: 'form-control' %>                        </div>
              </div>
              <div class="col-md-4"> 
              <div class="form-group"> 
                <label for="cardholdername" class="control-label">Permanent Pin Code<font color="red">*</font></label>
                <%= form.text_field :permanent_pin, id: :student_permanent_pin, placeholder: 'Pincode', class: 'form-control' %>                        </div>
              </div>  
              <div class="col-md-4"> 
                <div class="form-group"> 
                  <label for="cardnumber" class="control-label">State</label> 

                  <%= form.select :state, options_for_select(["Andaman Nicobar Islands",
              "Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli", "Daman and Diu","Delhi","Goa", "Gujarat","Haryana","Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka","Kerala","Lakshadweep", "Madhya Pradesh", "Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura","Uttar Pradesh","Uttarakhand", "West Bengal"
             ]),{prompt:true}, class: "form-control" %>
                </div> 
              </div> 


              <div class="row">
                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <input type="checkbox" id="toshipping_checkbox">
                    <em>Check this box if Address is same as above</em>
                  </div>
                </div>
              </div>
              <div class="col-md-4"> 
                <div class="form-group"> 
                  <label for="cardnumber" class="control-label">Corresponding Address</label> 

                  <%= form.text_field :correspondiing_address, id: :shipping_address_1, placeholder: 'Corresponding Address', class: 'form-control' %>
                </div> 
              </div> 



              <div class="col-md-4"> 
                <div class="form-group"> 
                  <label for="cardnumber" class="control-label">Corresponding  Pin Code</label> 

                  <%= form.text_field :pin_code, id: :student_pin_code, placeholder: 'Pincode', class: 'form-control' %>
                </div> 
              </div> 

              
              <div class="row">
                <div class="col-md-4"> 
                  <div class="form-group"> 
                    <label for="cvc" class="control-label">Country</label>
                      <%=country_select("center", "countries", { priority_countries: ["IN", "FR"], selected: "IN" }, { class: 'form-control', data: { attribute: "value" } })%>
                  </div>
                </div>
              </div>

            </div>
          </div>



          <div class="tab-pane" id="tab2-4">
            <div class="row"> 
              <div class="col-md-3"> 
                <div class="form-group"> 
                 <label for="cardholdername" class="control-label">10th Marks<font color="red">*</font></label>
                 <%= form.text_field :tenth, id: :student_tenth, placeholder: 'Tenth',class: 'form-control' %>                       
               </div>
             </div> 

             <div class="col-md-3"> 
              <div class="form-group"> 
               <label for="cardholdername" class="control-label">10th Marksheet upload<font color="red">*</font></label>
               <%= form.file_field :attachment, id: :student_attachment, class: 'form-control' %>                       
             </div>
           </div> 

           <div class="col-md-3"> 
             <div class="form-group"> 
              <label for="cardnumber" class="control-label">12th Marks<font color="red">*</font></label> 
              <%= form.text_field :twelth, id: :student_twelth, placeholder: 'Twelth', class: 'form-control' %> 
            </div>
          </div>

          <div class="col-md-3"> 
            <div class="form-group"> 
             <label for="cardholdername" class="control-label">12th Marksheet upload<font color="red">*</font></label>
             <%= form.file_field :twelth_attachment, id: :student_twelth_attachment, class: 'form-control' %>                       
           </div>
         </div> 

         <div class="col-md-3"> 
          <div class="form-group"> 

            <label for="cvc" class="control-label">PCM</label>

            <%= form.text_field :pcm, id: :student_pcm,placeholder: 'PCM', class: 'form-control'%>
            <p id="message" style="display:none;" ><font color='red'>Your are not eligible</font></p>
            <p id="message1" style="display:none;" ><font color='blue'>Please give correct detail of marks</font></p>
          </div>
        </div>


        <div class="col-md-3"> 
          <div class="form-group"> 
            <label for="cvc" class="control-label">PCB</label>
            <%= form.text_field :pcmb, id: :student_pcmb, placeholder: 'PCB', class: 'form-control' %> 
            <p id="pete" style="display:none;" ><font color='red'>Your are not eligible</font></p>
            <p id="pete1" style="display:none;" ><font color='blue'>Please give correct detail of marks</font></p>
          </div>
        </div>

        <div class="col-md-3"> 
          <div class="form-group"> 
            <label for="cvc" class="control-label">Graduation</label>
            <%= form.text_field :graduation, id: :student_graduation,placeholder: 'Graduation', class: 'form-control' %>                
          </div>
        </div>

        <div class="col-md-3"> 
          <div class="form-group"> 
           <label for="cardholdername" class="control-label">UG MArksheet</label>
           <%= form.file_field :ug_attachment, id: :student_ug_attachment, class: 'form-control' %>                       
         </div>
       </div> 


       <div class="col-md-3"> 
        <div class="form-group"> 
          <label for="cvc" class="control-label">Post Graduation</label>
          <%= form.text_field :post_graduation, id: :student_post_graduation, placeholder: 'Post Graduation',class: 'form-control' %>                  
        </div>
      </div>

      <div class="col-md-3"> 
        <div class="form-group"> 
         <label for="cardholdername" class="control-label">PG Marksheet</label>
         <%= form.file_field :pg_attachment, id: :student_pg_attachment, class: 'form-control' %>                       
       </div>
     </div> 


   </div>
 </div>


 <div class="tab-pane" id="tab2-5">
  <div class="row"> 
    <div class="col-md-4"> 
      <div class="form-group"> 
        <label for="cvc" class="control-label">Select University<font color="red">*</font></label>
        <%= form.select :university_id,University.all.collect{|a| [a.university_name,a.id]},{prompt:true},id: 'university_id',class: "form-control"  %>
      </div>
    </div>

<%if current_user.role == 'SuperAdmin'%>
    <div class="col-md-4"> 
      <div class="form-group"> 
        <label for="cvc" class="control-label">Center<font color="red">*</font></label>
        <%= form.select :center_id,Center.all.collect{|a| [a.center_name,a.id]},{prompt:true},id: 'center_id',class: "form-control"  %>
      </div>
    </div>
<%end%>

    <div class="col-md-4"> 
      <div class="form-group"> 
        <label for="cvc" class="control-label">Course Type<font color="red">*</font></label>
        <%= form.select :course_type_id,CourseType.all.collect{|a| [a.course_type_name,a.id]},{prompt:true},id: 'course_type_id',class: "form-control" %>
      </div>
    </div>


    <div class="col-md-4"> 
      <div class="form-group"> 
        <label for="cvc" class="control-label">Course<font color="red">*</font></label>
        <%= form.select :course_id,Course.all.collect{|a| [a.course_name,a.id]},{prompt:true},id: 'course_id',class: "form-control " %>
      </div>
    </div>

 <div class="col-md-4"> 
      <div class="form-group"> 
        <label for="cvc" class="control-label">Select Admission Year<font color="red">*</font></label>
     <%= form.select :admission_year, (Date.today.year-1)..(Date.today.year+1), :selected => Date.today.year ,class: "form-control"%>
      </div>
    </div>

  <%if current_user.role == 'SuperAdmin' %>
       <div class="form-group">
          <div class="col-md-4">
              <label class="col-sm-6 control-label">Status</label>
                  <%= form.radio_button "student_status", "Active"%> <b>Active</b>
                  <%= form.radio_button "student_status", "Inactive", checked: "checked" %> <b>Inactive</b>
          </div>
      </div>
  <%end%>

    <div class="form-group"> 
      <div class="col-sm-offset-1 col-sm-10">  
       <%= form.submit "Submit", class: 'btn btn-success' %>
       <%=link_to "Back", students_path,class: 'btn btn-red' %>

     </div>
   </div>

 </div>
</div>

<%end%>

<ul class="pager wizard"> 
  <li class="previous"><a href="javascript:void(0)"><i class="icon-left-open"></i>Previous</a></li> 
  <li class="next"><a href="javascript:void(0)">Next<i class="icon-right-open"></i></a> </li> 
</ul>
</div>
</div>
</div>
</div>
</div>
</div>



<script type="text/javascript">
  var validateEmail = function(elementValue) {
    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    return emailPattern.test(elementValue);
}



$('#email').keyup(function() {
    var value = $(this).val();
    var valid = validateEmail(value);
    if (!valid) {
        $(this).css('color', 'red');
    } else {
        $(this).css('color', '#000');
    }
});
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#student_pcmb").keyup(function() {
      var a = $("#student_caste_category_id").val();
      if (this.value <= 149 && a == '1') {
        $("#pete").css("display", "block");
      }
      else if (this.value <= 119 && a >= 1) {
       $("#pete").css("display", "block");
     }
     else if (this.value >= 300) {
      $("#pete1").css("display", "block");
    }
    else{
      $("#pete").css("display", "none");
    }

  });
  });
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $("#student_pcm").keyup(function() {
      var a = $("#student_caste_category_id").val();
      if (this.value <= 149 && a == '1') {
        $("#message").css("display", "block");
      }
      else if (this.value <= 119 && a >= 1) {
       $("#message").css("display", "block");
     }
     else if (this.value >= 300) {
      $("#message1").css("display", "block");
    }
    else{
      $("#message").css("display", "none");
    }

  });
  });
</script>

<script type="text/javascript">
  $("#toshipping_checkbox").on("click",function(){
    var ship = $(this).is(":checked");
    $("[id^='shipping_']").each(function(){
      var tmpID = this.id.split('shipping_')[1];
      $(this).val(ship?$("#"+tmpID).val():"");
    });
  });
</script>


<!-- <script type="text/javascript">
function f_color(){
if (document.getElementById('#student_pcm').value = '150') {
document.getElementById('#student_pcm').style.color = "red";
document.getElementById('#student_pcm').style.background="yellow";
}
}
f_color();
</script>
-->
<!-- <script type="text/javascript">
$(document).on("keyup", "#student_pcmb", function() {
function f_color(){
if ($("#student_pcmb").val(); <= '150') {
document.getElementById('#student_pcmb').style.color = "red";
}
}
});
f_color();
</script>  -->  


<!-- <script>
function f_color(){
if (document.getElementById('EditRecordnote').value = '10') {
document.getElementById('EditRecordnote').style.color = "red";
document.getElementById('EditRecordnote').style.background="yellow";
}
}
f_color();
</script>   --> 


<script src="/assets/plugins/blockui-master/jquery.blockUI.js"></script>
<!--Ajax Validattion-->
<script src="/assets/jquery.validate.min.js"></script>
<!--Bootstrap Wizard-->
<script src="/assets/plugins/wizard/jquery.bootstrap.wizard.min.js"></script>
<script>
  $(document).ready(function () {
    // Form Wizard

    if ($.isFunction($.fn.bootstrapWizard))
    {
      $('#rootwizard-2').bootstrapWizard({
        tabClass: 'wizard-steps',
        onTabShow: function ($tab, $navigation, index)
        {
          $tab.prevAll().addClass('completed');
          $tab.nextAll().removeClass('completed');
          $tab.removeClass('completed');
        }

      });



      $(".validate-form-wizard").each(function (i, formwizard)
      {
        var $this = $(formwizard);
        var $progress = $this.find(".steps-progress div");

        var $validator = $this.validate({
          rules: {
            student_first_name: {
              required: true,
              minlength: 3
            },
            student_last_name: {
              required: true,
              minlength: 3
            },
            student_middle_name: {
              required: true,
              minlength: 3
            },
            student_email: {
              required: true,
              email: true,
              minlength: 3,
            }
          }
        });

        // Validation
        var checkValidaion = function (tab, navigation, index)
        {
          if ($this.hasClass('validate'))
          {
            var $valid = $this.valid();
            if (!$valid) {
              $validator.focusInvalid();
              return false;
            }
          }

          return true;
        };

        $this.bootstrapWizard({
          tabClass: 'wizard-steps',
          onNext: checkValidaion,
          onTabClick: checkValidaion,
          onTabShow: function ($tab, $navigation, index)
          {
            $tab.removeClass('completed');
            $tab.prevAll().addClass('completed');
            $tab.nextAll().removeClass('completed');
          }
        });
      });
    }
  });
</script>
<script src="/assets/functions.js"></script>
