<!DOCTYPE html>
<html>
<head>
<style>
div.a{
  
  background-color: #FFFFCC;
  background-size: 100% 100%;
  height: auto;
  padding: 30px;
  border:2px solid Navy;
}
address{
  display: block;
  width: 700px;
  margin: 3px;
}
div.img {
  border: 0px solid #ddd;
  float: left;
  border-radius: 1px;
  padding: 3px;
  width: 50px;
}
.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:50%;
} 
.centerdiv{
  width:50%;
  margin:0 auto;
}
table{
    border: none;
    width:100%;
    margin-left: 5px;
    margin-right: 5px;


}
table, th, td {
     border: none;
     border-collapse: collapse;
   
    
}
th, td {
    padding: 15px;
    text-align: left;
    
}
    
}
table #t01  {
width:100%;
    
}
table #t01, th, td  {
border: 1px solid black;
border-collapse: collapse;
    
}

</style>
</head>
<body>
  <div class="a">
<div align="center">
<h2><font face = "Times New Roman" color="red"><u>APPLICATION FORM</u></font></h2>
</div>

<table border="0">
  <tr>
 
   

    <th>Applied For:</th>
    <td> <%= @student.course.course_name %></td>
   <div class="img">
    <td rowspan="3"><img width="90" class="img-square avatar" alt="" <%= wicked_pdf_image_tag  @student.photo.url %></td>
    
</p>
  </div>
    
   
  </tr>
  <tr>
    <th>Specilization:</th>
    <td><%= @student.course_type.course_type_name %></td>
    
    
  </tr>
  <tr>
    <th>Name Of Candidate:</th>
    <td><%= @student.first_name + " " + @student.middle_name + " " +  @student.last_name %></td>
    
    
  </tr>
  
</table>
<br>

<table>
  <tr>
    <th>Date of birth:</th>
    <td><%=@student.date_of_birth%></td> 
    
  </tr>
  <tr>
    <th>Father's Name:</th>
    <td><%= @student.father_name  %></td>
    
  </tr>
  <tr>
    <th>Mother's Name:</th>
    <td><%= @student.mother_name  %></td>
    
  </tr>
  <tr>
    <th>Postal/Permanant Address:</th>
    <td><%= @student.permanent_address%></td>
    
  </tr>
  <tr>
  <td colspan="2"></td>
  </tr>
  <tr>
  <th>Contact No:(mob)</th>
  <td><%= @student.contact_no%></td>
  
  </tr>
  <tr>
  <th>Email ID:</th>
  <td><%= @student.email%></td>
  </tr>
</table>
<h3>Education Details:</h3>
<table id="t01" >
<tr>
<th>Course</th>
<th>Year of Passing</th>
<th>Board/Univ./State</th>
<th colspan="2">Percentage/Marks</th>

</tr>
<tr>
<td>10th</td>
<td>2016</td>
<td>Maharashtra</td>
<td colspan="2"><%= @student.tenth%></td>


</tr>
<tr>
<td rowspan="2">12th</td>
<td>2018</td>
<td>pune</td>
<td>PCB</td>
<td>PCMB</td>
</tr>

<td></td>
<td></td>
<td><%= @student.pcm %></td>
<td><%= @student.pcm %></td>

<tr>
<td>Graduation</td>
<td></td>
<td></td>
<td colspan="2"></td>
</tr>
<tr>
<td>Master</td>
<td></td>
<td></td>
<td colspan="2"></td>
</tr>

</table>
<br>
Note/Subject: _________________________________________________


<br><br>
Date: &nbsp;  Left Thumb Impression: &nbsp;  Student/Parents Sign
</body>
</div>

<div class="a">
<table>

<thead>
<div align="center"><b><u>
Declaration</u></b>
</div>

<font size="1" color="black">
My Self <b><%= @student.first_name + " " + @student.middle_name + " " +  @student.last_name %></b>
 I, hereby, declare that, the entries made by me in the Application Form are complete and true to the best of my knowledge and based on records. I am aware that this is just and application and my/our admission is subject to approval by the concerned University/Institute/College according to approval by the concerned University/Institute/Academy/College according to their admission procedure and will have no objection for the same. Also I am agree with all below mentioned rules and regulations.
 <br><br>
 <address>
    i) I hereby declare that I came to VISHWA MEDICAL ADMISSION POINT for education guidance and advice at my own wish.<br>
    ii) I hereby confirm that VISHWA MEDICAL ADMISSION POINT always suggest me and guide me with the different Admission procedure/Board/Course and universities.<br>
    iii)I hereby declare that I will be responsible for the admission pursued by me at college/Board/University and for which VISHWA MEDICAL ADMISSION POINT will not be involved.<br>
    iv) I hereby declare that any changes, Mistakes or Correction, on the document given by the college/Board/University will be my and the respective college/Board/University responsibility hence VISHWA MEDICAL ADMISSION POINT will not be involved in this.<br>
    v) I hereby declare that the fee submitted by me at VISHWA MEDICAL ADMISSION POINT is only for the admission guidance and it does not include any college/Board/University fees, donation, Hostel/Mess charges. Also I am aware that this all mentioned charges are not refundable.<br>
    vi)I hereby declare that I will be responsible for exam conducted, appearance and marks obtained for the College/Board/University. Hence I am aware that I will be responsible for the extra travelling fair if applicable<br>
    vii) I hereby declare that I will not harm VISHWA MEDICAL ADMISSION POINT and their representatives or anybody for my personal issue. I will not misguide others regarding VISHWA MEDICAL ADMISSION POINT and if found guilty I am liable for punishment according to the regulations.<br>
    viii) Student needs to submit all required documents needed for the process (multiple times if necessary). For all related/needed affidavits /DD/Documentation expenses will Bourne by the student.<br>
    ix) Student or Parents should give updated contact details (phone nos., valid email ids, whatsapp nos.). Failing to do so will not make VISHWA MEDICAL ADMISSION POINT liable if you miss important notification regarding admission/visa or any other information, at any point of time, shared by us.<br>
    x) Submission of the visa application form does not guarantee that a visa is granted. Submission of incomplete documentation or refusal to appear for a special visa interview may result in the rejection of your visa application.<br> 
    xi) Fees or any charges paid or paid through VISHWA MEDICAL ADMISSION POINT education for college/Board/University will not be returned in any circumstance by VISHWA MEDICAL ADMISSION POINT and one will not force VISHWA MEDICAL ADMISSION POINT for doing the same.<br>
    xii)In case of deportation, due to any reason, return journey fare (travelled country to India) needs to bear by the student only.<br>

    xiii) For the cancellation of admission, a candidate has to apply in the prescribed form duly signed by him/her and counter signed by his/her parent/guardian at respective center. The candidate has to enclose the original fee receipt along with the form<br>
    
    (a) On admission cancelation refund shall be made after deduction of the processing/cancellation charges as mentioned below: Request Received before Admission: fee will be refunded ( 15% Processing Charges will be applicable )<br>

                    (b) Request Received after Admission & Before Visa approval: Tuition fee will be refunded by university to directly student’s bank account (as per University Policy) Processing fee will be refunded ( 25% Processing Charges will be applicable )<br>

                    (c) Request Received after Visa process & before Air Ticket: Tuition fee will be refunded by university to directly student’s bank account (as per University Policy) & only Air ticket charges will be refunded by us.<br>

                    (d) Request Received after Admission, visa process & Ticket Booking: only tuition fee will be refunded by university to directly student’s bank account.<br>

                    (e) No Refund will be done by us or university if admissions cancel by university because of any misleading information, documentation or if Student is not able to pay pending Fees on time.<br>
     xiv) If student paid the hostel and mess fees through us and student have not utilized hostel and mess service then only we will refund and the fees will be refunded in the form of USD or INR ( Money Exchange charges will be applicable )<br>

      xv) If student started to utilize the facility of hostel and mess then full year charges and other expanses will be nonrefundable in any circumstances by us or hostel administration.<br>
   xvi) For the cancellation of admission, a candidate has to apply in the prescribed form duly signed by him/her and counter.

signed by his/her parent/guardian at respective center.<br>
   xvi) For the cancellation of admission, a candidate has to apply in the prescribed form duly signed by him/her and counter signed by his/her parent/guardian at respective center.<br>
               xvii) The candidate has to enclose the original fee receipt along with the form. If all documents submitted for refund are in order, then the time taken to process of refund money will be 45 working days. Kindly note that it is the sole responsibility of the candidate to submit all required documents, within speculated time, for timely processing of refund.

            xviii) Students needs to clear Language proficiency test (If Applicable)
            xix) Any delay due to afore-mentioned or travel day, ticketing/flight delay, visa delay, act of God, Nature or change in Government policy are not the responsibility or liability of Vishwa Medical Admission Point.<br>

                        xx) Submission of Admission/Processing fee should be made within speculated time only i.e.  Processing fee, Tution Fee, Hostel and Mess Fee should be paid before arriving of Visa of the student. No concession will given in the time line of the payment of fee in any circumstances. Falling to do so can authorize VMAP, to stop student services (Hostel & Mess) and process at given time and he/she is agree on that or we charge .50 % as late fee charges in remaining/late fee.<br>
                        Student will adhere by the terms and condition of the university/college from where he/she is seeking/taking admission.<br>
                                    xxii) Any kind of loss of property or damage done by the student, than he or she will only be liable for the same.<br>
                                                xxiii) Any refund by the university will done as per their policy<br>
 </font></address>
  
    <p>&nbsp;</p><p>&nbsp;</p>
  



<div class="maindiv">
<div align="left">
Date 
</div>
<div align="center"> Left Thumb Impression</div>
<div align="right">
 Student/Parents Sign
</div>
</div>

</thead>
</table>



</div

</html>



