<%= render 'layouts/messages'%>
<div class="row">
        <div class="col-lg-12">
         <br>
                 <br>
          <div class="panel panel-primary">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">Student Status Detail</h3>
              <ul class="panel-tool-options"> 
                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
              </ul>
            </div>

            <div class="panel-body">
            <font color="blue">*</font><b><font color="red">Red fields Shows the Pending Process result</font> and<font color="green"> Green Fields shows Process is completed</font></b>
                  <br><br>
              <ul> 
                <li><strong><font color="green">Admission form Fill</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                 <%= link_to 'Download Admission Receipt', admission_receipt_student_path(format: 'pdf'),target: '_blank',class: "btn btn-link"%>
                </li> 
                <li>
                  <% if @student.fees_paid == "true"%>
                    <strong><font color="green">Fees Paid</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                      <%= link_to 'Download Enrollment Receipt', show_student_student_path(format: 'pdf'),target: '_blank',class: "btn btn-link"%>
                    <%else%>
                    <strong><font color="red">Fees Paid</font></strong>
                  <%end%>
                </li> 

                <li>
                  <% if @student.original_document_submission == "true"%>
                     <strong><font color="green">Original Document Submission</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                     <%else%>
                     <strong><font color="red">Original Document Submission</font></strong>
                  <%end%>
                </li> 

                <li>
                  <% if @student.processing_fees_paid == "true"%>
                     <strong><font color="green">Processing Fees Paid</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                     <%else%>
                     <strong><font color="red">Processing Fees Paid</font></strong>
                  <%end%>
                </li> 


                <li>
                <% if @student.all_document_sent_to_ho == "true"%>
                        <strong><font color="green">All Document Sent to HO</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                        <%else%>
                           <strong><font color="red">All Document Sent to HO</font></strong>
                        </p>
                        <%end%>
                </li> 
                   =><font color="blue">MCI</font>

                  <ul>
                   <li><% if @student.sent_for_mci == "true"%>
                    <strong><font color="green">Document Sent For MCI</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                    <%else%>
                       <strong><font color="red">Document Sent For MCI</font></strong>
                    <%end%></li>

                    <li>   <% if @student.mci_acknowledgement == "true"%>
                           <strong><font color="green">MCI Acknowledgement</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                           <%else%>
                           <strong><font color="red">MCI Acknowledgement</font></strong>

                        <%end%></li> 
                    <% if @student.admission_letter_attachment.present?%>
                   <strong><font color="green">Admission Letter</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                    <td><%= link_to "Download", @student.admission_letter_attachment_url, class: 'btn btn-link' %></td>
                  <%end%></li>

                    <li><% if @student.mci_eligibility_certificate== "true"%>
                <strong><font color="green">MCI Eligibilty Certificate</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                 <td><%= link_to "Download", @student.mci_eligibility_criteria_certificate_attachment_url, class: 'btn btn-link' %></td>
                <%else%>
                   <strong><font color="red">MCI Eligibilty Certificate</font></strong>
                <%end%></li>   
                    </li> 
                  </ul>
                        =><font color="blue">Visa</font>
 
                </li> 
                <li>

                  <% if @student.sent_for_visa == "true"%>
                    <strong><font color="green">Document Sent For Visa</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                    <%else%>
                       <strong><font color="red">Document Sent For Visa</font></strong>
                    <%end%>
                </li> 
                <li>
                  <% if @student.visa_appointment == "true"%>
                  <strong><font color="green">Visa Appointment</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                  <%else%>
                     <strong><font color="red">Visa Appointment</font></strong>
                  <%end%>
                </li> 
                <li><% if @student.visa_stamping == "true"%>
                    <strong><font color="green">Visa Stamping</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                    <%else%>
                       <strong><font color="red">Visa Stamping</font></strong>
                    <%end%></li> 
                <li>

                   </li> 
                   =><font color="blue">Airticket and fly</font>

                  <ul>
                  <% if @student.airticket == "true"%>
                  <strong><font color="green">Airticket</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                <%else%>
                   <strong><font color="red">Airticket</font></strong>
                <%end%>
                </li>

              <li>  <ul><font color= "red"><b>Original Document Return</b></font></ul></li>

                <li>  
                  <% if @student.fly == "true"%>
                  <strong><font color="green">Fly</font></strong>&nbsp;&nbsp;<i class="fa fa-check"></i>
                  <%else%>
                     <strong><font color="red">Fly</font></strong>
                  </p>
                  <%end%>
                </li>
              </ul>
            </div>
          </div>
        </div>