<%= render 'layouts/messages'%> 
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Student Details</h3>
        <ul class="panel-tool-options"> 
          <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
          <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
          <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
        </ul>
      </div>
      <div class="panel-body">
         <div class="panel-body collapse in" id="collapsepanel">
                                  <ol class="breadcrumb breadcrumb-2"> 
                                    <li><a href="/home/dashboard"><i class="icon-folder"></i>Home</a></li> 
                                    <li class="active">Students</li> 
                                  </ol> 
                                </div>
                  <%= link_to 'New Student', new_student_path, class: 'btn btn-red btn-outline' %><p>&nbsp;</p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
              <tr>
                
               <th>SR No</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Admission Year</th>
                <th>Center Name</th>
                <th>Admission Done By</th>
                <th><%if current_user.role == 'SuperAdmin'%>Contact no</th><%end%>
                <th></th>
                <th></th>
                <th></th>
             </tr>
           </thead>
           <tbody>
         <% @students.each_with_index do |student,i|%>

            <tr class="gradeX">
              <td><%= i+1 %></td>
              <td><%= student.first_name %></td>
              <td><%= student.last_name %></td>
              <td><%= student.admission_year.strftime("%b%Y") if student.admission_year.present?%></td>
              <td><%= student.center.center_name if student.center.present?%></td>
              <td><%= student.employee.name if student.employee.present?%></td>
              <td><%= student.contact_no if current_user.role == 'SuperAdmin'%></td>
               <%if student.student_status == "Inactive" %>
                 <td><%=link_to 'Deactivate', view_all_students_path(:param1 => false, :id => student.id),style: 'color: red'%></td>
                   <%elsif student.student_status == "Active" %>
                  <td><%=link_to 'Activate',  view_all_students_path(:param1 => true, :id => student.id),style: 'color: green'%></td>
              <%end%>
               <td><%= link_to 'Show', show_student_student_path(student.id),class: "btn btn-blue btn-sm" %></td>
              <td> <%= link_to 'Update Status',url_for(action: :edit,id: student.id),method: :get,class: "btn btn-red btn-sm" if current_user.role == 'SuperAdmin'%></td>
              <td></td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>




<script>
  $(document).ready(function () {
    $('.dataTables-example').DataTable({
      dom: '<"html5buttons" B>lTfgitp',
      buttons: [
      {
        extend: 'copyHtml5',
        exportOptions: {
          columns: [ 0, ':visible' ]
        }
      },
      {
        extend: 'excelHtml5',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'pdfHtml5',
        exportOptions: {
          columns: [ 0, 1, 2, 3, 4 ]
        }
      },
      'colvis'
      ]
    });
  });
</script>
