<%= render 'layouts/messages'%> 
<%#= render_activities(@activities) %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Centers</h3>
        <ul class="panel-tool-options"> 
          <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
          <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
          <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
        </ul>
      </div>
      <div class="panel-body">
           <div class="panel-body collapse in" id="collapsepanel">
              <ol class="breadcrumb breadcrumb-2"> 
                <li><a href="/home/dashboard"><i class="icon-folder"></i>Home</a></li> 
                <li class="active">Center</li> 
              </ol> 
            </div>
 
           <%#= link_to 'New Center', new_center_path, class: 'btn btn-red btn-outline' %><p>&nbsp;</p>

        <div class="table-responsive">
          
             
          <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
              <tr>
               <th>Sr No</th>
               <th>Center name</th>
               <th>Contact</th>
               <th>Center Email</th>
               <th>Center code</th>
               <th>Status</th>
                
             </tr>
           </thead>
           <tbody>
            <% @centers.each_with_index do |center, i| %>
            <tr class="gradeX">
              <td><%= i + 1%></td>
              <td><%= link_to center.center_name , empl_center_path(center.id) ,class: 'btn btn-link' %></td>
              <td><%= center.contact %></td>
              <td><%= center.email %></td>
              <td><%= center.center_code %></td>
        
               <td><%= center.center_status %></td>

               

              

            </tr>
            <%end%>
          </tbody>
        </table>
        <%= link_to "Back" , employees_path , class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
</div>




<script>
  $(document).ready(function () {
    $('.dataTables-example').DataTable({
      dom: '<"html5buttons" B>lTfgitp',
      buttons: [
      {
        extend: 'copyHtml5',
        exportOptions: {
          columns: [ 0, ':visible' ]
        }
      },
      {
        extend: 'excelHtml5',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'pdfHtml5',
        exportOptions: {
          columns: [ 0, 1, 2, 3, 4 ]
        }
      },
      'colvis'
      ]
    });
  });
</script>
