<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }
   p {
       margin-bottom:0px;
   }
   address{
    display: block;
    width: 300px;
    margin:0px;
    
   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee      }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }

.img {
  border: 0px solid #ddd;
  float: left;
  border-radius: 1px;
  padding: 3px;
  width: 200px;
}


.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:30%;
} 
.centerdiv{
  width:50%;
  margin:0 auto;
}
p span{
  font-weight:700;
  color:#000;
}

</style>
</head>
<body>
  <div class="maindiv">

 <div class="centerdiv">
   <b> Vishwa Vidya consultancy Pvt. Ltd.<br>
Career Guidance Center</b>
</div>
</div>


<br><br>
<div>

  <div class="maindiv">
     
    
          <div class="leftdiv">
        
         
          <h3><b><%= @student_detail.first_name %> <%= @student_detail.middle_name %> <%= @student_detail.last_name %></b></h3>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Course Applied For:</strong>
          <%= @student_detail.course_applied_for %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Age:</strong>
          <%= @student_detail.age %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Birthdate:</strong>
          <%= @student_detail.birthdate %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Father Name:</strong>
          <%= @student_detail.father_name %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Father Name:</strong>
          <%= @student_detail.mother_name %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Father's Education:</strong>
          <%= @student_detail.father_education %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Father's Occupation:</strong>
          <%= @student_detail.father_education %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Mother's Education:</strong>
          <%= @student_detail.mother_education %>  
        </p>
        </div>


          </div> 
  </div> 


  <div class="maindiv">
     
    
          <div class="rightdiv">
        

 
        <div class="col-md-4">
        <p class="text-info">
          <strong>SSC Marks:</strong>
          <%= @student_detail.ssc_marks %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>HSC Marks:</strong>
          <%= @student_detail.hsc_marks %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>PCB %:</strong>
          <%= @student_detail.pcb %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>PCM %:</strong>
          <%= @student_detail.pcm %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Address:</strong>
          <%= @student_detail.address %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Contact No:</strong>
          <%= @student_detail.contact_no %>  
        </p>
        </div>

        <div class="col-md-4">
        <p class="text-info">
          <strong>Email:</strong>
          <%= @student_detail.email %>  
        </p>
        </div>
      </div>
    </div>
      


            <table class="table table-condensed table-bordered" style="margin-top: -15px; margin-bottom: 15px;">
              <thead>
                <tr>
                  <th style="font-size: 16px; background-color: #ccc; width: 75px;" colspan="12"><center>Details</center></th>
                </tr>
                
    <th>Question</th>
    
    <th>Answer</th>
              </tr>
              <%tax_amt = 0%>
              <%total_amt = 0%>
              <% rate = 0 %>
            <% @student_detail.student_answers.each do |sa| %>
<tr>
<td><%= sa.question.question %></td>
<td><%= sa.answer.answer %></td>
</tr>
          <%end%>
              </tr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </thead>
</table>
          
