
<%#= link_to 'Back' , questions_path , class: :"btn btn-warning" %>

<%= render 'layouts/messages'%>
<div class="col-md-12"> 
 <br>
                 <br>
          <div class="panel panel-info">
            <div class="panel-heading clearfix"> 
              <div class="panel-title">Student Details</div> 
              <ul class="panel-tool-options"> 

               <!--  <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                    <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                    <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                  </ul>
                 </li> -->
                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
<!--                 <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
 -->                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
              </ul>  
            </div> 
            <!-- panel body --> 
            <div class="panel-body"> 
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student_detail.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @student_detail.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student_detail.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student_detail.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student_detail.address %>
</p>
<p>
  <strong>Country:</strong>

  <%= @student_detail.country.country %>
</p>
<p>
  <strong>College:</strong>
  <%= @student_detail.medical_college.college_name %>
</p>



 <div class="table-responsive">
          
          <table class="table table-striped table-bordered table-hover dataTables-example" >
            
  <tr>
    
    <th>Question</th>
    
    <th>Answer</th>
  </tr>

<% @student_detail.student_answers.each do |sa| %>
<tr>
<td><%= sa.question.question %></td>
<td><%= sa.answer.answer %></td>
</tr>
          <%end%>
        </table>
        
        <br>
        
<div id="chronoExample">
    <div class="values">00:00:00</div>
    <div>
        <button class="startButton">Start</button>
        <button class="pauseButton" >Pause</button>
        <button class="stopButton" >Stop</button>
        
        <%#= link_to "Stop" , student_detail_path(:param1 => timer.getTimeValues().toString , :id => @student_detail.id) %>
        
        <%#=link_to 'Deactivate', centers_path(:param1 => false, :id => center.id),style: 'color: red'%>
<!--         <button class="stopButton">Stop</button>
 -->        <button class="resetButton">Reset</button>
    </div> 
</div>
<script type="text/javascript">
  
        var timer = new Timer();
        
$('#chronoExample .startButton').click(function () {
    timer.start();
    
});
$('#chronoExample .pauseButton').click(function () {
    timer.pause();
        

});
$('#chronoExample .stopButton').on("click" ,function () {
    stoptime = timer.getTimeValues(); 

     
  
        
/*        window.open("/student_details?time="+stoptime )
*/     timer.stop();

  });

$('#chronoExample .resetButton').click(function () {
    timer.reset();
});
timer.addEventListener('secondsUpdated', function (e) {
    $('#chronoExample .values').html(timer.getTimeValues().toString());

});
timer.addEventListener('started', function (e) {
    $('#chronoExample .values').html(timer.getTimeValues().toString());
});
timer.addEventListener('reset', function (e) {
    $('#chronoExample .values').html(timer.getTimeValues().toString());
});
 


</script>
 <%#= link_to "save time", "/student_details/disp_time/" , :with => "remote: true , class: :"btn btn-primary" %>



 <%#= link_to "save time", :url => {:controller=>'student_details', :action =>'disp_time'},  :method => :post, :with =>"stoptime" , remote: true %>

 
        <%= link_to 'Edit', edit_student_detail_path(@student_detail) , class: "btn btn-primary" %> |
<%= link_to 'Back', student_details_path , class: "btn btn-warning" %>


</div>
</div>
</div>
</div>







