<p id="notice"><%= notice %></p>

<h1>Medical Colleges</h1>

<table>
  <thead>
    <tr>
      <th>College name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_colleges.each do |medical_college| %>
      <tr>
        <td><%= medical_college.college_name %></td>
        <td><%= medical_college.country %></td>
        <td><%= link_to 'Show', medical_college %></td>
        <td><%= link_to 'Edit', edit_medical_college_path(medical_college) %></td>
        <td><%= link_to 'Delete', medical_college, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical College', new_medical_college_path %>
