<div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">Envelope</div> 
                            <ul class="panel-tool-options"> 
                                <!-- <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                        <!-- panel body --> 
                        <div class="panel-body"> 
<%= form_for @envelope,url: {action: 'create_envelopes', controller: 'envelopes'} do |form| %>
  <% if @envelope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@envelope.errors.count, "error") %> prohibited this @envelope from being saved:</h2>

      <ul>
      <% @envelope.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal">

     <div class="form-group">
        <div class="col-md-4">
          <label class="col-sm-6 control-label">Content(if any)<font color="red">*</font></label>
          <%= form.text_field :content, id: :envelope_content, placeholder: 'Content' , class: 'form-control'%>
        </div>
    </div>

    
     <div class="form-group">
        <div class="col-md-4">
          <label class="col-sm-6 control-label">Center Select<font color="red">*</font></label>
    <%= form.select :center_id, Center.all.collect{|c| [c.center_name,c.id]}, {prompt:true},id: 'envelope_center_id',class: "form-control selectpicker", "data-live-search" => "true" 
 %>
    </div>
  </div>

<br>
<br>
<br>
<br>
<br>
  <div id="stage">
</div>

            <div class="form-group"> 
                                <div class="col-sm-offset-1 col-sm-10">  
    <%= form.submit "Submit", class: 'btn btn-success' %>
    <%= link_to 'Back',envelopes_path, class: 'btn btn-red' %>
     
  </div>
  </div>

<% end %>

</div>
</div>
</div>
</div>


<script type='text/javascript'>
$('#envelope_center_id').on('change', function() {
 var envelope_center_id;
 Item = $(this).val();
 $.ajax({
   url: '/envelopes/select',
   type: 'GET',
   dataType: 'script',
   data: {envelope_center_id: Item},
   }).success(function(data) {
   
 });
});
</script>