<div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">Centers</div> 
                            <ul class="panel-tool-options"> 
                               <!--  <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                       
                        <div class="panel-body">
                          <div class="panel-body collapse in" id="collapsepanel">
                                  <ol class="breadcrumb breadcrumb-2"> 
                                    <li><a href="/home/dashboard"><i class="icon-folder"></i>Home</a></li> 
                                    <li class="active">Category</li> 
                                  </ol> 
                                </div>
<%= form_with(model: caste_category, local: true) do |form| %>
  <% if caste_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caste_category.errors.count, "error") %> prohibited this caste_category from being saved:</h2>

      <ul>
      <% caste_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">

     <div class="form-group">
        <div class="col-md-4">
          <label class="col-sm-8 control-label">Caste Category Name<font color="red">*</font></label>
    <%= form.text_field :name, id: :caste_category_name, placeholder: 'Category Name', class: 'form-control' %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
</div>

            <div class="form-group"> 
                                <div class="col-sm-offset-1 col-sm-10">  
     <%= form.submit "Submit", class: 'btn btn-success' %>
     <%= link_to 'Back', caste_categories_path,class: 'btn btn-red' %>
     
  </div>
  </div>
  
<br>
<% end %>
