<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  width: 400px
}
tr.noBorder td {
  border: 0;
}
</style>
</head>
<body>



<table style="width:100%">

<tr >

<th colspan="4">TAX INVOICE</th>

</tr>
<tr>
<th colspan="4">VISHWA VIDYA CONSULTANCY PRIVATE LIMITED<br><br>CIN - U74999PN2014PTC150838</th>

</tr>
<tr align="center">
<td colspan="4"> ABHIMANYU PURAM, ABOVE ANAND DIANING HALL<br>S. NO. 16/5, MANIK BAUG SINHGAD ROAD, PUNE 411041<br>e mail- vec5577@gmail.com       Contact No.- 9225105222</td>
</tr>
<tr>
<th colspan="4">
GSTIN No - 27AAECV7569E1ZX</th>
</tr>
<tr>
<td rowspan="2" >Bill To <br><br><b><%= @receipt.received_from %></b><br>Address of customer<br>
<b><%= @receipt.student.permanent_address %></b><br>GSTIN No OF CUSTOMER<br><b><%= @receipt.gst_no %></b></td>
<td rowspan="2">Place of supply<br><br><b><%= @receipt.place_of_supply %></b></td>
<th>INVOICE NO</th>
<th>INVOICE DATE</th>

</tr>
<tr>
<td><%= @receipt.invoice_number %></td>
<td><%= @receipt.date %></td>

</tr>
<tr height="50">
<th>Description of Services</th><th>   HSN code</th><th>  Rate</th>
<th>Amount</th>
</tr>




<tr>
<td>ADMISSION</td>
<td></td>
<td><%= @receipt.student.university.fees%></td>
<td><%= @receipt.student.university.fees%></td>
</tr>
<tr>
<td><b>Total</b></td>
<td></td>
<td><b><%= @receipt.student.university.fees%></b></td>
<td><b><%= @receipt.student.university.fees%></b></td>
</tr>
<tr>
<td>Less Discount</td>
<td></td>
<td><%= @receipt.discount %>%</td>
<td></td>
</tr>
<tr>
<td><b>Taxable Value</b></td>
<td></td>
<td><%= @receipt.payment_paid %></td>
<td><b><%= @receipt.payment_paid %></b></td>
</tr>
<tr>
<td><b>CGST</b></td>
<td></td>
<td><b><%= @receipt.cgst %> %</b></td>
<td><%= @receipt.payment_paid.to_f * (@receipt.cgst.to_f/100) %></td>
</tr>
<tr>
<td><b>SGST</b></td>
<td></td>
<td><b><%= @receipt.sgst %> %</b></td>
<td><%= @receipt.payment_paid.to_f * (@receipt.sgst.to_f/100) %></td>

</tr>
<tr>
<td><font size="2">Rounding off</td>
<td></td>
<td></td>
<td></td>
</tr>



<tr>
<td><b>Total</b></td>
<td></td>
<td></td>
<td><b><%= @receipt.payment %></b></td>
</tr>
<tr>
<td><font size="2">Amount Chargeable (in words)<br><b>Rupees -<%= @receipt.payment.to_i.to_words.split.map(&:capitalize).join(' ')%> Only</b></font></td>
<td rowspan="3"></td>
<td rowspan="3" colspan="2" align="center"><font size="2"><b>FOR VISHWA VIDYA CONSULTANCY PRIVATE LIMITED</b><br>
Authorised Signature</font></td>

</tr>

<tr>
<td><font size="2"><b>Company's PAN:</b></font></td>

</tr>
<tr>
<td><font size="2">Note-Please make cheques in favor of<b> "Vishwa Vidya Consultancy Private Limited"</b></font></td>
</tr>
<tr style="height: 20px;">
<td colspan="4"></td>
</tr>










 
</table>

</body>
</html>
