<div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">Daily Report of Students</div> 
                            <ul class="panel-tool-options"> 
                                <!-- <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                        <!-- panel body --> 
                        <div class="panel-body"> 
<%= form_for :report, url:{action: 'create'} do |f| %>      
<div class = "center" > 
     <div class="form-group">
        <div class="col-md-4">
          <label class="col-sm-6 control-label">Select Start Date</label>
          <%= f.date_field :start_date,class: "form-control datepicker" %>
    </div>
  </div>

   <div class="form-group">
        <div class="col-md-4">
          <label class="col-sm-6 control-label">Select End Date</label>
          <%= f.date_field :end_date,class: "form-control datepicker" %>
    </div>
  </div>

</div>
<br>
<br>
<br>
<br>

  <div id="stage">
</div>

    <div class="form-group"> 
     <div class="col-sm-offset-1 col-sm-10">  
      <%= f.submit "View", class: 'btn btn-success' %>
      <%= link_to 'Back',general_report_reports_path, class: 'btn btn-red' %>   
     </div>
    </div>    

<% end %>

</div>
</div>
</div>
</div>

<script type='text/javascript'>
$('#center_id').on('change', function() {
 var center_id;
 Item = $(this).val();
 $.ajax({
   url: '/reports/select_center',
   type: 'GET',
   dataType: 'script',
   data: {center_id: Item},
   }).success(function(data) {
   
 });
});
</script>