<!-- Entypo font stylesheet -->
<link href="/assets/entypo.css" rel="stylesheet">
<!-- /entypo font stylesheet -->

<!-- Font awesome stylesheet -->
<link href="/assets/font-awesome.min.css" rel="stylesheet">
<!-- /font awesome stylesheet -->

<!-- Bootstrap stylesheet min version -->
<link href="/assets/bootstrap.min.css" rel="stylesheet">
<!-- /bootstrap stylesheet min version -->

<!-- Mouldifi core stylesheet -->
<link href="/assets/mouldifi-core.css" rel="stylesheet">
<!-- /mouldifi core stylesheet -->

<link href="/assets/mouldifi-forms.css" rel="stylesheet">
<link href="/assets/bootstrap-select.css" rel="stylesheet">
<link href="/assets/plugins/datatables/jquery.dataTables.css" rel="stylesheet">

<!-- Page container -->
<div class="page-container">

	<!-- Page Sidebar -->
	<div class="page-sidebar">
		<!-- Site header  -->
		<header class="site-header">
		  <div class="site-logo">
		     <!--  <#% unless @general_setting.blank? %>
		     <%#= image_tag @general_setting.logo.url %>
		     <%#else%>
		     <%#= GeneralSetting.first.logo.url%>
		  <%# end %> -->
		  <%= image_tag '/assets/logo1.png'%>
		</div>
		  <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="/home/dashboard"><i class="icon-menu"></i></a></div>
		  <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
		</header>
		<!-- /site header -->
		
		<!-- Main navigation -->
		<ul id="side-nav" class="main-menu navbar-collapse collapse">
			<% if current_user.role != "Student" %>
			<li class="has-sub"><a href="/home/dashboard"><i class="icon-gauge"></i><span class="title">Admin Panel</span></a><% end %>
				<ul class="nav">
					<%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || (current_user.role == 'Employee' && current_user.employee.employee_status == 'Active') || (current_user.role == 'Center' && current_user.center.center_status == 'Active')%>

					
					<% if current_user.role == "Center" %>
					<%if current_user.center.present?%>
					<li><a href="/centers/<%= "#{current_user.center_id}" %>"><span class="title">Centers</span></a></li>
					<% elsif current_user.role == "Employee" %>

					<li><a href="/centers/<%= "#{current_user.employee.center_id}" %>"><span class="title">Centers</span></a></li>
					<% end %>
					<% end %>
					
				<% if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' %>
					<li><a href="/centers"><span class="title">Centers</span></a></li>
				<%end%>
	
				<%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || (current_user.role == 'Center' && current_user.center.center_status == 'Active') %>
					<li><a href="/employees"><span class="title">Employees</span></a></li>
				<%if current_user.role != 'Center'%>
					<li><a href="/caste_categories"><span class="title">Caste Categories</span></a></li>
				<%end%>
				<%end%>
				<%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' %>
					<li><a href="/universities"><span class="title">University</span></a></li>
				    <li><a href="/subadmins"><span class="title">SubAdmin</span></a></li>
					<li><a href="/course_types"><span class="title">Course Type</span></a></li>
					<li><a href="/courses"><span class="title">Course</span></a></li>
				    <li><a href="/status_updates"><span class="title">Status</span></a></li>
				    <li class="has-sub"><a href="#"><i class="icon-layout"></i><span class="title">WHO</span></a>
				<ul class="nav collapse">
					<%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' %>
					<li><a href="/budgets"><span class="title">Add Budget</span></a></li>
					<li><a href="/colleges/new"><span class="title">Add College</span></a></li>
					<li><a href="/colleges/new1"><span class="title">Find Colleges</span></a></li>
					<% end %>
				</ul>
			</li>

			    <% end %>

              
			<%if current_user.role == 'SubAdmin'%>
			    <li><a href="/refarences"><span class="title">Add Referenced By</span></a></li>
            <%end%>  
<!-- 	      <li><a href="/enquiries"><span class="title">Enquiries</span></a></li>
 -->					<%if current_user.role != 'Employee'%>
					<li><a href="/envelopes"><span class="title">Envelope Creation</span></a></li>
					<%end%>
					<li><a href="/receipts/receipt_creation"><span class="title">Generate Receipt</span></a></li>
					<%if current_user.role != 'Center'%>
					<li><a href="/questions/new"><span class="title">Add Questions</span></a></li>
					<%end%>
					<% elsif current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin'%>
					<li><a href="/general_settings/new"><span class="title">General Setting</span></a></li>
					<%end%>
					
		    

				</ul>
			</li>
  

			<li class="has-sub"><a href="#"><i class="icon-layout"></i><span class="title">Admission</span></a>
				<ul class="nav collapse">
					<%if current_user.role == 'Student' || current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || current_user.role == 'Employee' %>
					<%if current_user.student.nil?%>
					<li><a href="/students/new"><span class="title">Student Admission</span></a></li>
					<%end%>
					<%unless current_user.student.blank?%>
					<li><a href="/students"><span class="title">Student Detail</span></a></li>
					<%end%>
					<%end%>
					<%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || (current_user.role == 'Employee' && current_user.employee.employee_status == 'Active') || (current_user.role == 'Center' && current_user.center.center_status == 'Active')%>
					<li><a href="/students/view_all"><span class="title">Students</span></a></li>
					<%end%>
				</ul>
			</li>
			<%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || (current_user.role == 'Center' && current_user.center.center_status == 'Active') %>

			<li class="has-sub"><a href="#"><i class="icon-doc-text"></i><span class="title">Sms/Email Settings</span></a>
				<ul class="nav collapse">
					<li><a href="/sms_settings/new"><span class="title">Sms Settings</span></a></li>
					<li><a href="/email_settings/new"><span class="title">Email Settings</span></a></li>
					<li><a href="/bulk_sms_settings/new"><span class="title">Bulk Sms Settings</span></a></li>
				</ul>
			</li>
		<%end%>
		<% if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || current_user.role == 'Employee' || current_user.role == 'Enquiry' || current_user.role == 'Center'%>
           <li class="has-sub"><a href="#"><i class="icon-doc-text"></i><span class="title">Student Inquiry</span></a>
				<ul class="nav collapse">
					<li><a href="/student_details/new"><span class="title">Inquiry</span></a></li>
					<li><a href="/student_details"><span class="title">View All Inquiries</span></a></li>
				</ul>
			</li>
			<%end%>	
		

		

		<%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || (current_user.role == 'Center' && current_user.center.center_status == 'Active') %>
			<li class="has-sub"><a href="#"><i class="icon-list"></i><span class="title">Reports</span></a>
				<ul class="nav collapse">

					<li><a href="/reports/general_report"><span class="title">Center Report</span></a></li>
					<li><a href="/reports/new"><span class="title">Daily Report/Monthly Report</span></a></li>
					<li><a href="/reports"><span class="title">Payment Status</span></a></li>
					<!-- <li><a href="/reports/reference_report"><span class="title">Reference Report</span></a></li> -->
					<li><a href="/reports/university_report"><span class="title">University Report</span></a></li>
					<li><a href="/reports/course_report"><span class="title">Course Report</span></a></li>
				</ul>
			</li>
		<%end%>	


		  <% if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' %>
		  <li class="has-sub"><a href="/home/dash"><i class="icon-list"></i><span class="title">Activity Log</span></a>
		  </li>
		  <% end %>
	
  </div>


  <!-- /page sidebar -->
  
  <!-- Main container -->
    <div class="main-container gray-bg">
  
		<!-- Main header -->
		<div class="main-header row">
		  <div class="col-sm-6 col-xs-7">
		  
			<!-- User info -->
			<ul class="user-info pull-left">          
			  <li class="profile-info dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"> <img width="44" class="img-circle avatar" alt=""  <% if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin' || current_user.role == 'Employee' || (current_user.role == 'Center' && current_user.center.center_status == 'Active') || current_user.role == "Student"%>
                <%= image_tag current_user.photo %>
               <% elsif  current_user.role == 'Center' %>
               <%= image_tag('man-3.jpg')%> 
                <% end %>
               <%= current_user.role%> <span class="caret"></span></a>
			  
				<!-- User action menu -->
				<ul class="dropdown-menu">
		
				  <li><a href="/users/<%=current_user.id%>/change_password"><i class="icon-user"></i>My profile</a></li>
				  <%if current_user.role == 'SuperAdmin' || current_user.role == 'SubAdmin'%>
				  <li><a href="/general_settings/new"><i class="icon-cog"></i>Account settings</a></li>
				  <%end%>
				  <li><a href="#/"><i class="icon-mail"></i>Messages</a></li>
				  <li><a href="#"><i class="icon-clipboard"></i>Tasks</a></li>
				  <li class="divider"></li>
				  
				  <li><a data-method="delete" href="/users/sign_out"><i class="icon-logout"></i>Logout</a>
				  	
				  </li></ul>
		  </div>
 

<!--Load JQuery-->
<script src="/assets/jquery.min.js"></script>
<script src="/assets/easytimer.js"></script>
<script src="/assets/easytimer.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/bootstrap-select.min.js"></script>
<script src="/assets/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="/assets/plugins/blockui-master/jquery-ui.js"></script>
<script src="/assets/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!--Float Charts-->
<script src="/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.selection.min.js"></script>        
<script src="/assets/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="/assets/functions.js"></script>

<!--ChartJs-->
<script src="/assets/plugins/chartjs/Chart.min.js"></script>
<script src="/assets/nested_form.js"></script>


</html>
