<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
    <title>EducationalConsultancy</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' , media: 'all' , 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application' ,  'data-turbolinks-track': 'reload' %>
        <%#= javascript_include_tag "http://www.google.com/jsapi" %>
        <%#= javascript_include_tag "application", "chartkick" %>
        <%#= yield :charts_js %>

  </head>
<body>

       <%= render 'layouts/menu' if user_signed_in?%>
  <%= yield %> 

 </body>
 </html>
